.header-nav {
  background-color: #000 !important;
}

.header-nav .navbar-nav .nav-link {
  color: #777;
}

.header-nav .nav-link:focus,
.header-nav .nav-link:hover {
  color: #555 !important;
  opacity: 0.7;
}

.header-icon-color {
  background-color: #555;
}

.arrow-bottom-black {
  height: 15px;
  width: 15px;
  position: absolute;
  transform: rotate(45deg);
  bottom: -8px;
  background-color: #000 !important;
}
