@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

body {
  font-family: 'Alata', sans-serif;
}

.bg-yellow {
  background-color: #feee3e !important;
}

.bg-yellow-light {
  background-color: #fffee2 !important;
}

.bg-grey-light {
  background-color: #eee;
}

.icon-box {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.btn-warning {
  color: #000;
  background-color: #fffee2;
  border-color: #fffee2;
}

.btn-warning.focus,
.btn-warning:focus,
.btn-warning:hover {
  color: #000;
  background-color: #feee3e;
  border-color: #feee3e;
}

.btn-link {
  color: #000;
}

.btn-link:hover,
.btn-link:focus {
  color: unset;
  opacity: 0.8;
  text-decoration: none;
  box-shadow: unset !important;
}

.btn-secondary {
  color: #6c757d;
  background-color: #eee;
  border-color: #eee;
}

.text-green {
  color: #28a745 !important;
  text-decoration: underline;
}

input[type='checkbox'] {
  background: #3d404e;
  border: #7f83a2 1px solid;
}

.form-group {
  margin-bottom: 0;
}

.w-130px {
  width: 130px;
}

/* Scroll Box */

.scroll-box {
  overflow-y: scroll;
}

.scroll-box::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
  opacity: 0;
}

.scroll-box:hover::-webkit-scrollbar {
  opacity: 1;
}

.scroll-box:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20%;
}

@media (hover: none) {
  .scroll-box::-webkit-scrollbar {
    width: 3px !important;
  }
  .scroll-box::-webkit-scrollbar-thumb {
    background-color: unset;
  }
}
